<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Legendary Movie Sculpts</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Our Products</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Not sure what else?</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="page" class="container">
	<div class="title">
		<h2>High Quality Sculpts just for you</h2>	
	</div>
	<div class="boxA">
		<div class="box">
			<img src="images/img02.jpg" width="320" height="180" alt="" />
			<h3>Product 1 </h3>
			<p>Ahoy ... further details .... </p>
			<a href="#" class="button">Read More</a>
		</div>
	</div>
	<div class="boxB">
		<div class="box">
			<img src="images/img03.jpg" width="320" height="180" alt="" />
			<h3>Product 2</h3>
			<p>Ahoy ... further details ... </p>
			<a href="#" class="button">Read More</a>
		</div>
	</div>
	<div class="boxC">
		<div class="box">
			<img src="images/img04.jpg" width="320" height="180" alt="" />
			<h3>Product 3</h3>
			<p>Further details ... ... </p>
			<a href="#" class="button">Read More</a>
		</div>
	</div>
</div>
<div id="welcome" class="container">
	<h2>Welcome to our website</h2>
	<p>This is <strong>Legendary Movie Sculpts</strong>, fill in with ... ... <a>Fill in with more stuff .... </a> </p>		
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 LegendaryMovieSculpts.com. All rights reserved. | Photos by <a>Good_question</a> | Design by <a>Yourma.com</a>.</p>
</div>
</body>
</html>
